/* import donate from {../../assets/images/donate.png}; */
.home_head {
    /* font-size: 20px; */
    color: #363636;
    margin: 13px;
}

.home_subhead{
    color: #7ff5f5;
    margin: 13px;
}

.home_subhead_sm{
    color: #363636;
    margin: 13px;
    font-size: 18px;
    width: 80%;
}
#home{
    position: absolute;
    top:0;
    left:0;
}
.intro {
    display: flex; 
    justify-content:space-between;
    /* /* align-items: center; */
    min-height: 60vh;
    width:100vw;
    padding:0%;
    /* background-repeat: no-repeat; */
    /* background-size: 30% 100%; */
    /* position:absolute ; */
    /* opacity: 0.5; */
}

/* .intro_left {
    display: flex;
    justify-content: center;
    width: 45%;
}

.intro_left img {
    width: auto;
    border-radius: 1%; */
/* } */

.intro_right {
    float:right;
    padding-top: 15vh;
    padding-right:5vw;
    width: 45%;
    align-self: right;
    justify-self: flex-end;
    opacity:unset;
    height: 100%;
}

.to_donate_page {
    border: none;
    background-color: #dcf7f7;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    margin: 13px;
}

.to_donate_page:hover{
    background-color:#bffcfc;
    font-size: 23px;
    transition: all 400ms;
}

@media (max-width: 726px) {
    .intro_left {
        display: none;
    }
    .intro {
        justify-content: space-around;
    }
    .intro_right{
        width: 80%;
    }
}