.User_recent_fund_card{
    display: flex;
    margin: 5vh 4vw 0 4vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    font-size: 1.15em;
    justify-content: space-between;
}
.Card_left img{
    width:250px;
    height:100%;
}
.Card_right{
    display: flex;
    height:inherit;
    width:50%;
    padding:3vh 6vw 4vh 0vw;
    font-size:1em;
    /* color:#5bdbdb; */
    justify-content:space-evenly;
    flex-direction: column;
    color : #63c7c7;
}
.money{
    color: #34dbdb;
}
.Fund_name{
    justify-self: flex-start;
    font-size:1.2em;
    align-self: center;
    padding-bottom: 2vh;
}
.Card_right .progress
{
    /* width:90%; */
    min-height:2vh;
    margin-left: 0.5vw;
}
.Card_right img
{
    width: 40px;
    height:40px;
    border-radius: 50%;
}
@media screen and (max-width: 1100px) {
    
    .Card_left img{
        width:200px;
    }
    .User_recent_fund_card{
        font-size: 1em;
        height:270px;
    }
    .Card_right{
        width:70%;
        padding:3vh 1vw 4vh 5vw;
    }
    .donate_button{
        padding: 0%;
        width: 80%;
        margin-top:unset;
    }
}
@media screen and (max-width:950px) {
    .Card_left{
        display: none;
    }
    .Card_right{
        width:100%;
    }
}
/********************************************************************************/
/*********************************GRID CSS***************************************/
/********************************************************************************/
.fundraiser-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5vh;
}