/* import donate from {../../assets/images/donate.png}; */
.home_head {
  font-size: 30px;
  color: #363636;
  margin: 20px;
}

.home_subhead {
  color: #7ff5f5;
  margin: 20px;
  font-size: 28px;
}

.home_subhead_sm {
  color: #363636;
  margin: 13px;
  font-size: 17px;
  width: 80%;
}

.intro {
  display: flex;
  justify-content: space-between;
  min-height: 60vh;
  height: 400px;
  padding-top: 3vh;
  margin-bottom: 100px;
}

.intro_left {
  display: flex;
  justify-content: center;
  width: 45%;
}

.intro_left img {
  width: 100%;
  border-radius: 1%;
  margin-top: -50px;
}

.intro_right {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: flex-start;
  width: 45%;
  height: inherit;
}

.button_wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.to_donate_page {
  border: none;
  background-color: #dcf7f7;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 13px 5px 13px;
  margin: 13px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.to_donate_page:hover {
  background-color: #bffcfc;
  font-size: 27px;
  transition: all 400ms;
}

.btn_container {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#homepageDonationCards{
  margin-bottom: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

.trendingDonationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px;
}

#funding_options_container {
  margin-bottom: 160px;
  margin-top: 120px;
}

.options_heading {
  text-align: center;
}

.blury{
  opacity: 0.4;
  z-index:-1;
}
.sub_head_one {
  align-self: center;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  font-size: 17px;
  color: #949494;
}

#reviewsContainer {
  margin: 10px;
}

.rec-arrow-left, .rec-arrow-right {
  background-color: skyblue !important;
  color: white !important;
  border-color: #363636 !important;
}

.rec-dot {
  background-color: white !important;
}

@media (max-width: 768px) {
  .intro_left {
    display: none;
  }
  .intro {
    justify-content: space-around;
  }
  .intro_right {
    width: 80%;
  }
}