body {
  width: 100%;
  margin: 0%;
  padding: 0%;
}
.display_none {
  display: none !important;
}
nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height:10vh;
}
.hamburger-menu {
  display: none;
}
.nav_org_logo {
  justify-self: flex-start;
  z-index: 1;
  align-self: center !important;
}
.nav_org_logo img {
  width: 120px;
  object-fit: contain;
  padding-top: 2vh;
}
.nav-bar {
  display: flex;
  justify-self: flex-end;
  list-style-type: none;
  padding: 3vh 2vw 0vh 2vw !important;
  
  color: #7ff5f5;
  font-size: 1.3em;
  font-weight: 500;
  /* margin-top: 30px; */
  /* margin: 0% !important; */
  align-items: center; 
}
.nav-item{
  padding:0 1.8vw;
  margin:0 0.2vw;
}
.nav-item:after {
  display:block;
  content: '';
  border-bottom: solid 3px #7ff5f5;
  transform: scaleX(0);  
  transition:all 250ms ease-in-out;
}
.nav-item:hover:after { transform: scaleX(1); }
/* .nav-item.fromRight:after{ transform-origin:100% 50%; } */
/* .nav-item.fromLeft:after{  transform-origin:  0% 50%; } */
.nav-bar a {
  text-decoration: none;
  color: #7ff5f5;
  white-space: nowrap;
}
.nav_scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .nav_org_logo {
    font-size: 1.5em !important;
  }
  .nav-bar {
    display: none;
  }
  .hamburger-menu {
    display: block;
    align-self: center;
    margin-top: -3vh;
    font-size: 200%;
  }
  .nav-item {
    display: none;
  }
}
