.optionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: 700;
}


.imageContainer img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}


.imageContainer img:hover{
    width: 150px;
    height: 150px;
    transition: all 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#iw {
    width: auto;
}