.dashboard{
    width:70vw;
    margin:3vh auto;
    background-color: rgb(252, 250, 243);
    min-height:200vh;
    border-radius: 5px;
}
.User-fundraiser{
    display: flex;
    width: 70vw;
}
.Dashboard-navigation{
    min-width:15vw;
    height:200vh;
    background-color: #7ff5f5;
    box-shadow:inset 6px -6px 4px 0px #fff;
}
.Dashboard-content{
    width:55vw;
}
.navigation-list{
    list-style-type:none;
    display:flex;
    flex-direction: column;
    font-size:1.4em;
    font-weight: 510;
    justify-content: flex-start;
    width:fit-content;
}
.navigation-items a{
    color:white;
    text-decoration:none;
}
.navigation-items{
    padding-top:2vh;
}
.User_name
{
    height:60px;
    color:white;
    font-size:1.4em;
    padding:15px 30px 10px 30px;
    background-color: #7ff5f5;
    /* border-radius: 5px; */
    box-shadow:inset 6px 8px 4px 0px;
}
.User_funds_head{
    width:inherit;
    margin:0 auto;
    color:#7ff5f5;
    font-size:2em;
    font-weight:500;
    /* font-family:serif; */
    text-align: center;
    padding:10px;
}
.Card_left img{
    width:250px;
    object-fit:contain;
    /* position:absolute; */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 0) 80%, rgba(0,0,0,0.65) 100%);
    /* padding-top:5vh; */

}
.Card_left{
    padding-top:5vh;
}
.User_recent_fund_card{
    padding:0 4vw;
}
a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition:all 250ms ease-in-out;
  }
a:hover:after { transform: scaleX(1);}
.userDetail{
    padding-top:2vh;
}
.userDetail img{
    width:fit-content;
    object-fit: contain;
    border-radius: 50%;
}