@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=PT+Serif&family=Poppins:wght@100&display=swap');
.dashboard{
    width:70vw;
    margin:3vh auto;
    background-color: rgb(252, 250, 243);
    border-radius: 5px;
}
.User-fundraiser{
    display: flex;
    width: 70vw;
}
.Dashboard-navigation{
    min-width:15vw;
    background-color: #75e0e0;
    box-shadow:inset 6px -6px 4px 0px #fff;
}
.Dashboard-content{
    width:55vw;
}
.User_name
{
    height:60px;
    color:white;
    font-size:1.4em;
    padding:15px 30px 10px 30px;
    background-color: #75e0e0;
    /* border-radius: 5px; */
    /* font-family: 'Poppins', sans-serif; */
    box-shadow:inset 6px 8px 4px 0px;
}
.User_funds_head{
    width:inherit;
    margin:0 auto;
    color:#6ed3d3;
    font-size:2em;
    text-align: center;
    padding:10px;
}
.User_donations
{
    padding:5vh 2vw;
}



/***************************************************************************************/
/*                        CSS OF DONATION CARD                                         */
/***************************************************************************************/
.User_donations{
    color : #63c7c7;
}
.User_donations .card_title{
    /* align-self: center; */
    margin-bottom:5%;
}
.User_donations .amt_user_donated,.percentage_user_donated,.collection,.progress{
    margin:5px 0;
}
